body {
    background-color: #FCFCFC;
}

.header-image {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background: url("titleimage.jpg");
    background-position: center;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
